<div id="div1">
  <div *ngIf="games.length > 0" class="game-info-container">
    <!-- Displaying image of the first game -->
    <img src="{{games[0].image}}" alt="Game Image">

    <!-- Watch Trailer button -->
    <button class="button" (click)="watchTrailer(games[0].trailerLink)">Watch Trailer</button>


    <!-- Description of the first game -->
    <p class="description">{{ games[0].desc }}</p>

    <!-- Storage details -->
    <p>Storage: {{ games[0].storage }}</p>

    <!-- Download Game button -->
    <button class="button" (click)="downloadGame(games[0].downLink)">Download Game</button>
  </div>
</div>