<div id="div1" *ngIf="game">
  <div class="game-info-container">
    <!-- Displaying image of the first game -->
    <img src="{{ game.image }}" alt="Game Image" />

    <!-- Watch Trailer button -->
    <button class="button" (click)="watchTrailer(game.trailerLink)">
      Watch Trailer
    </button>

    <!-- Description of the first game -->
    <p class="description">{{ game.desc }}</p>

    <!-- Storage details -->
    <p id="size">Game Size: {{ game.storage }}</p>

    <!-- Download Game button -->
    <button class="button" (click)="downloadGame(game.downLink)">
      Download Game
    </button>
  </div>
</div>

<div *ngIf="!game">Game Not Available</div>
